In [2]:
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

In [3]:
widgets.IntSlider()

IntSlider(value=0)

In [7]:
import pandas as pd

In [10]:
df = pd.DataFrame(columns=["a", "b", "c"])
df['a'] = [1,2,3]
df

   a    b    c
0  1  NaN  NaN
1  2  NaN  NaN
2  3  NaN  NaN